</div>
</main>

<footer style="background-color: #86efac;">
  <div class="container" >
    <p>&copy; <%= new Date().getFullYear() %> Animal World. All rights reserved.</p>
  </div>
</footer>
</body>
</html>