<!DOCTYPE html>
<html>
<head>
  <title>Profil</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>Bienvenue <%= user.username %></h2>
  <a href="/">Accueil</a> | <a href="/logout">Déconnexion</a>
</body>
</html>
